@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-1:#599bff;
    --color-2:#1a6ff0;
    --color-3:#000080;
    --background:#f7f4e4;
    --text-1:"Roboto", "Helvetica", "Arial", sans-serif;
    --text-2:"Lexend", "Helvetica", "Arial", sans-serif;
}

.--invite * {
    position:relative;
}

.--invite {
    width:640px;
    height:360px;
    background-color:var(--background);
    padding:16px;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.--invite-header {
    width:100%;
    display:flex;
    flex-direction:column;
}

.--header,.--text {
    width:fit-content;
    font-weight:400;
    font-size:10px;
}

.--header {
    font-family:var(--text-1);
}

.--text {
    font-family:var(--text-2);
}

.--to-name {
    align-self:flex-start;
    margin-bottom:16px;
}

.--to-name,.--card-to-name {
    text-align:left;
    font-size:17px;
    font-weight:600;
}

.--has-invited-you {
    margin-bottom: 8px;
}

.--has-invited-you,.--card-has-invited-you {
    font-size:26px;
    font-weight:900;
    text-align:right;
}

.--the-party-is,.--card-the-party-is {
    font-size:21px;
    font-weight:600;
    text-align:right;
}

.--has-invited-you,.--the-party-is {
    align-self:flex-end;
}

.--invite-address,.--invite-address-list,.--invite-rsvp {
    width:fit-content;
}

.--invite-content {
    height: 100%;
    position:relative;
    margin-top:16px;
}

.--invite-address {
    position:absolute;
    bottom:25%;
    right:5%;
    text-align:right;
    font-size:16px;
    line-height:1.25;
}

.--card-invite-address {
    resize: none;
    text-align:right;
    font-size:16px;
    line-height:1.25;
}

.--invite-rsvp {
    position:absolute;
    bottom:0;
    left:0;
}

.--come-along-to {
    font-weight:600;
}

.--please-rsvp-to,.--card-please-rsvp-to {
  font-size:12px;
  font-style: italic;
  font-family: var(--text-1)
}

.--invite-container {
    display:flex;
    flex-direction:column;
    width:fit-content;
    overflow:hidden;
}

.--card-text-input {
    outline:none;
    border:none;
    background-color:transparent;
    position:relative;
    z-index:10;
    font-family:inherit!important;
}

.--input-underline {
    opacity:0;
    width:100px;
    display:block;
    position:absolute;
    background-color: var(--color-1);
    width:calc(100% - 4px);
    height:2px;
    right:0;
    bottom:0;
    border-radius:1em;
    transition: 60ms linear;
    transition-property: width,opacity;
}

.--card-to-name-underline,.--card-please-rsvp-to-underline {
    left:0;
}

bold {
    font-weight:600;
}

.application-content {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:360px;
}

.vertical-separator {
    margin-left:16px;
    margin-right:16px;
    height: 95%;
    align-self: center;
    border-radius: 1em;
    border-width:4px;
}

.card {
    height:95%;
    align-self:center;
    background-color:var(--colors-grey-100);
    padding:16px;
    width:380px;
}

.card-content {
    align-items:center;
}

.card-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
}

.card-item.one {
    margin-bottom: var(--margin-s);
}

.card-item.two {
  height:calc(310px - 72.67px - 32.13px)
}

.card-item-column {
    width:50%;
    height:100%;
}

.card-item-column * {
    max-width:100%;
}

.input-dropdown {
    position: absolute;
    width: 174px;
}

.input-dropdown-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    border-color: #767676;
    border-radius: 4px;
    background-color:#ffffff;
    font-family:var(--font-body);
    font-size:14px;
    color: rgb(117, 117, 117);
}

.input-dropdown-option {
    width:100%;
    border-color:inherit;
    border-style:inherit;
    border-width:0px;
    padding:4px 2px;
    cursor:pointer;
    transition:80ms linear;
    transition-property: background-color;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.input-dropdown-option:first-of-type {
    border-top-left-radius:2px;
    border-top-right-radius:2px;
}

.input-dropdown-option:last-of-type {
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
}

.input-dropdown-option:hover {
    background-color:var(--colors-grey-100);
}

.input-dropdown-option:not(:last-of-type) {
    border-bottom-width:2px;
}

.input-dropdown-option-icon {
    font-size:13px;
    margin-right:4px;
}

.input-dropdown-option-text {
    font-weight:500;
}

[data-panel-editing] {
    box-shadow: 0 0 0 4px rgba(255,0,0,1);
    animation-name:boxShadowPulse;
    animation-duration:2s;
    animation-iteration-count:infinite;
}

@keyframes boxShadowPulse {
    0% { box-shadow: 0 0 0 4px rgba(var(--colors-primary-rgb),1) }
    50% { box-shadow: 0 0 0 4px rgba(var(--colors-primary-rgb),.25) }
    100% { box-shadow: 0 0 0 4px rgba(var(--colors-primary-rgb),1) }
}
